{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block auth %}
<div class='container'>
    <h4>Login</h4>
    <form method="post" class="form-group">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-secondary">Login</button>
        <p>Don't have an account? Create one <a href="/register">here</a>.</p>
    </form>
</div>

<style>
    body {
        background-image: url('{% static '/img/reg.jpg' %}');
        background-attachment: fixed;
        background-position: center center;
        font-size: 20px;
    }
    h4, p, form{
        color: white;
    }
</style>
{% endblock %}